.container{
    margin-left: 10%;
    margin-right: 10%;
}

.heading{
    color: orange;
}

.header, .header h3{
    display: flex;
    justify-content: space-between;
    color: maroon;
}


.header ul{
    list-style: none;
    display: flex;
}

.header ul li{
    width: 60px;
}

.header ul li a{
    text-decoration: none;
}

.footer{
    margin-top: 20px;
}

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}